.accordion {
    background-color: rgb(206, 206, 206);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.2s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    background-color: rgb(235, 235, 235);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  
  ul{
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 30px;
    z-index: 1;
    border: 1px solid #000;
    cursor: pointer;
    overflow: hidden;
  }
  ul li{
    list-style: none;
    height: 60px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    color: #000;
  }
  ul.active li{
    transform: translateY(-30px);
  }
  ul li span{
    display: block;
    height: 30px;
    width: 100%;
    line-height: 30px;
  }
  ul li span:nth-child(1)
  {
    background: #262626;
    color: #fff;
  }
  body.dark{
    background: #262626;
    color: #fff;
  }
  p.dark{
    color: rgb(255, 255, 255);
  }
  .panel.dark{
    background: rgb(133, 133, 133);
  }
  img{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  