<!DOCTYPE html>
{% load static %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/accordion.css' %}">
</head>
<body>

  <div class="container">
    <h1 style="text-align: center; padding-top: 3%;">Profil</h1>
    <div class="row">
      <div class="col-md-4 col-xs-0"></div>
          <div class="col-md-4 col-xs-12 ml-3 p-5">
            <img src="{% static 'images/profil.jpg' %}">
          </div>
      <div class="col-md-4 col-xs-0"></div>
    </div>
    <div class="row">
      <div class="col" style="padding-top: 1%; text-align: center;">
        <!-- accordion -->
        <button class="accordion">Aktivitas</button>
        <div class="panel">
          <p>Saya sedang berkuliah, setiap hari saya kuliah-pulang 2x</p>
        </div>

        <button class="accordion">Organisasi</button>
        <div class="panel">
          <p>Saya tidak mengikuti oraganisasi apa-apa, tetapi saya mengikuti kepanitaan menjadi VPIC Perlengkapan</p>
        </div>

        <button class="accordion">Prestasi</button>
        <div class="panel">
          <p>Saya tidak memiliki prestasi</p>
        </div>
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
            
            for (i = 0; i < acc.length; i++) {
              acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                  panel.style.maxHeight = null;
                } else {
                  panel.style.maxHeight = panel.scrollHeight + "px";
                }
              });
            }
            </script>
        <!-- <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
              panel.style.display = "none";
            } else {
              panel.style.display = "block";
            }
          });
        }
        </script> -->
      </div>
    </div>
  </div>

  <!-- toogle -->
  <ul>
      <li>
        <span>DARK</span>
        <span>LIGHT</span>
      </li>
  </ul>
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script text="text/javascript">
    $(document).ready(function(){
      $('ul').click(function(){
        $('ul').toggleClass('active')
        $('body').toggleClass('dark')
        $('p').toggleClass('dark')
        $('.panel').toggleClass('dark')
      })
    })
  </script>
</body>
</html>